<html>
  <head>
    <title>JaChlomya KWK Project</title>
    <style> body {background-color: #FFFFFF;
      color: 	#000000;
font-family: 'Khula', sans-serif;
  text-align: center; 
  font-size: 20px;
  font-weight: 100;
 border-style: double;
}
 </style>
   
  </head>

  <body>
    <h1>#Workout Quaaaz</h1>
    <h2>Hello! Today, you will take a quiz that will recommend a workout routine (home-friendly) for you based on your answers to the following questions.</h2>
    <h3>Our Website will give you a great selection of self-care and meditation services <a href=shop.erb>shopping</a>, 
<a href =food.erb>bakeries</a>, <a href =paid.erb>historic attractions</a>, <a href =walking.erb>scenic areas</a>, and <a href =shows.erb>live entertainment</a> within the area. Please click on one of the underlined words to discover the activities that are under that subject!</h3>
<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/boston-skyline-at-night-panorama-jon-holiday.jpg">

<h1>TAKE OUR QUIZ!!</p>
          <h3>Please take the quiz<a href=index.erb> here </a>to find where you should visit today!</h3>

  <h1>About the Coders:</h1>
  
    <p>This website was created by Kelly Cotter, Kira Hartness and Ella Sklar! We all live in Massachusetts and we grew up loving our city, Boston! We have spent our childhood watching Tom Brady throw spirals and walking around the Boston Common. We wanted to teach our users about all the great things to do in Boston! We hope you find our website useful during your next visit to Boston!</p>
     
      <h1>Our Inspiration:</h1>
        <p>During our time at the Kode with Klossy summer camp in Boston we found that our instructors (who were from Hawaii and Baltimore) did not know what to do in Boston over the weekend!However, when they went to websites like Yelp only showed the basic attractions  unlike the hidden jems that are located in Boston. Therefore, the three scholars, Kelly, Kira and Ella decided to create a project that can help people like our instructors find great places to visit based on their preferences.<h3>
        
</body>
        <footer>
          <h1>Special Thanks!</h1>
            <p>We would just like to designate this area of our website to thank Ms. Grace Park and Mrs.Megan and our TA's for teaching us everything we know about code!We would also like to thank Karlie Kloss and the Kode with Klossy program for teaching giving us the opportunity to make great friends and giving us a head start on our future's as computer programmers!</p>
          
        </footer>
              </html>

